= stylesheet_link_tag "form"
= stylesheet_link_tag "buttons"

- provide(:title, "Editing your profile")

.container
  .profile-form
    %h3.form-header Edit your profile data
    = form_for(@profile,data: { turbo: false }) do |f| 
      .form-field
        = f.text_field :first_name, placeholder: 'First name *'
        = f.text_field :last_name, placeholder: 'Last name *'
        = f.text_field :phone, placeholder: 'Phone *' 
        = f.text_field :street_address, placeholder: 'Street Address *'
        = f.text_field :city, placeholder: 'City *'
        = f.text_field :county, placeholder: 'County *'
        = f.submit "Update Profile", class: "btn"
