.container
  %h2.form-header Create a profile
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    %div
      = f.radio_button :role, 'admin', class: 'form-check-input'
      = label :role_admin, 'Restaurant owner', class: 'form-check-label'
    %div
      = f.radio_button :role, 'customer', class: 'form-check-input'
      = label :role_customer, 'Customer', class: 'form-check-label'
    %div
      = f.email_field :email, autocomplete: "email", placeholder: 'Email *'
    %div
      = f.password_field :password, autocomplete: "new-password", placeholder: 'Password *'
    %div
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Repeat password *'
    %div 
      = f.hidden_field :redirect_to_profile, value: true
      = f.submit "Sign up", class: "btn btn-light sign-up-btn mt-4"
