<<<<<<< HEAD
= javascript_include_tag 'category-filter'
=======
= javascript_include_tag 'script'
>>>>>>> 6793516 (Store the data in the database, add filter functionalities.)
= javascript_include_tag 'price-filter', defer: true

- provide(:title, "Home")

.main-content 
  .welcome-container
    .welcome-text 
      %h2 Eureka Caffe
      %p 
        Satisfy your cravings with our hassle-free online ordering
        experience. From delectable dishes to your doorstep, we serve up
        convenience and mouthwatering meals that will leave you craving for
        more.    

  .bar#bar-scroll 
    .categories  
      %form{ action: "/", method: "get", id: "filter_form"} 
        .dropdown
          %div{ onclick: "toggleDropdownMenu('dropdown-content1', 'arrow1')" }
            %span#selected= @selected_category 
            %i#arrow1.bi.bi-caret-down-fill
<<<<<<< HEAD
          .dropdown-content#dropdown-content1
            %a#show-all{ href: "#", onclick: "submitFormWithCategory('Category')" } Show All
            - Product.categories.keys.each do |category|
              %a{ href: "#", onclick: "submitFormWithCategory('#{category}')" }= category.humanize
=======
          .dropdown-content#dropdown-content1{ style: "display: none;"}
            %a#show-all{href: "#", onclick: "submitFormWithCategory('Category')"} Show All
            - Product.categories.keys.each do |category|
              %a{href: "#", onclick: "submitFormWithCategory('#{category}')"}= category.humanize
>>>>>>> 6793516 (Store the data in the database, add filter functionalities.)
          
        .dropdown
          %div{ onclick: "toggleDropdownMenu('dropdown-content2', 'arrow2')" }
            %span#vegetarian=  @vegetarian 
            %i#arrow2.bi.bi-caret-down-fill
<<<<<<< HEAD
          .dropdown-content#dropdown-content2
            %a{ href: "#", onclick: "submitFormWithVegetarian('Vegetarian')" } Show All
            %a{ href: "#", onclick: "submitFormWithVegetarian(true, 'Is Vegetarian')" } 
              Vegetarian
            %a{ href: "#", onclick: "submitFormWithVegetarian(false, 'Non-vegetarian')" } 
=======
          .dropdown-content#dropdown-content2{ style: "display: none;"}
            %a{href: "#", onclick: "submitFormWithVegetarian('Vegetarian')"} Show All
            %a{href: "#", onclick: "submitFormWithVegetarian(true)"} 
              Vegetarian
            %a{href: "#", onclick: "submitFormWithVegetarian(false)"} 
>>>>>>> 6793516 (Store the data in the database, add filter functionalities.)
              Non-vegetarian
        = hidden_field_tag :category, params[:category]
        = hidden_field_tag :vegetarian, params[:vegetarian]

<<<<<<< HEAD
        -# .dropdown
        -#   %div{ onclick: "toggleDropdownMenu('dropdown-content3', 'arrow3')" }
        -#     %span Sorting
        -#     %i#arrow3.bi.bi-caret-down-fill
        -#   .dropdown-content#dropdown-content3
        -#     %a{ href: "#" } Show All
        -#     %a{ href: "#" } 
        -#       Ascending
        -#     %a{ href: "#"} 
        -#       Descending
        

=======
>>>>>>> 6793516 (Store the data in the database, add filter functionalities.)
    .price-filter
      %p#min-slider
      #uislider
      %p#max-slider
    
    .button-container
      %button{ type: "button", onclick: "applyFilters()" } Apply Filters
     

  .menu
    - @products.each do |product|
      .food-item#filtered-results{ "data-price" => product.price }
        .food-image
          - if product.photo.attached?
            = image_tag product.photo, class: "food-image"
          - else
            %p No photo available
        .food-text
          .food-title
            %h6= product.title
          .food-description
            - if product.description.length > 50
              %p= truncate(product.description, length: 50) + link_to(" View more", product_path(product), class: "view-more-link")
            - else
              %p= product.description
        .food-price
          %p Price: $#{product.price}
      
