= stylesheet_link_tag "cart_page"
= stylesheet_link_tag "products_images"

- provide(:title, "Cart")

.container
  .cart-header.mb-4
    %h1 Cart
  
  .cart-details
    - @orders.each do |order|
      
      .cart-items
        - order.order_items.each do |item|
          .cart-item
            .cart-image
              - if item.product.photo.attached?
                = image_tag item.product.photo
              - else
                %p No photo available
            .food-details
              %h5.price
                $#{ item.product.price }
              %h6 
                = item.product.title
              %p.description
                = truncate(item.product.description, length: 70) + link_to(" View more", product_path(item.product), class: "view-more-link")
              %p.quantity
                Quantity:
                = item.quantity
              %a.remove{ href: remove_from_cart_orders_path(order_item_id: item.id), 'data-confirm': 'Are you sure you want to remove this product from your cart?', 'data-method': 'delete', 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", 'data-bs-title': "Remove from cart" }
                %i.bi.bi-trash-fill
      .order-status
        %h4 
          %strong Order details
        %p 
          Total Price: 
          %strong $#{ order.total_price }
        %p 
          %strong Status: 
          %span= order.status
        = link_to 'Order', complete_order_path, method: :post, class: 'btn btn-success'
