%h1 Orders
- @orders.each do |order|
  - if notice.present?
    .notice= notice
  .order
    %h2
      Order ##{order.id}
    %ul
      - order.order_items.each do |item|
        %li
          = item.product.title
          #{item.product.price}
    %p
      = order.status


