%h1 Orders Page
%ul
  - @orders.each do |order|
    %li
      %strong Order ID:
      = order.id
      %br/
      %strong Status:
      = order.status
      
      %ul
        - order.order_items.each do |item|
          %li
            = item.product.title
      %br/
      = link_to 'View Order', order_path(order)   

= link_to 'Back', :back
    

