- if alert.present?
  .alert.alert-danger= alert

%h1 Edit Product

= form_for @product, url: product_path(@product), method: :patch, html: { multipart: true } do |f|
  .field
    = f.label :title
    = f.text_field :title, class: 'form-control'
  
  .field
    = f.label :description
    = f.text_area :description, class: 'form-control'
  
  .field
    = f.label :price
    = f.text_field :price, class: 'form-control'
  
  .field
    = f.label :vegetarian
    = f.select :vegetarian, options_for_select([['Yes', true], ['No', false]], @product.vegetarian), { }, class: 'form-select'
  
  .field
    = f.label :category
    = f.select :category, options_for_select(Product.categories.keys.map { |c| [c.humanize, c] }, @product.category), { }, class: 'form-select'
  
  .field
    = f.label :photo
    = f.file_field :photo, class: 'form-control'
  
  .actions
    = f.submit 'Update Product', class: 'btn btn-primary'
  
= link_to 'Back', products_path, class: 'btn btn-secondary'
