= stylesheet_link_tag 'form'
= stylesheet_link_tag 'buttons'

- provide(:title, "Edit Product##{@product.id}")
.container
  %h1.form-header Edit Product##{@product.id}
  = form_for @product, url: product_path(@product), method: :patch, html: { multipart: true } do |f|
    .form-field
      = f.text_field :title, placeholder: 'Title* '
      - if @product.errors.has_key?(:title)
        %p.text-danger= @product.errors[:title].first
    
      = f.text_area :description, placeholder: 'Description* (minimum 100 characters)', rows: 4
      - if @product.errors.has_key?(:description)
        %p.text-danger= @product.errors[:description].first

      = f.text_field :price, placeholder: 'Price* '
      - if @product.errors.has_key?(:price)
        %p.text-danger= @product.errors[:price].first
    
      = f.select :vegetarian, options_for_select([['Vegetarian', true], ['Non-Vegetarian', false]])

      = f.select :category, options_for_select( Product.categories.keys.map { |c| [c.humanize, c] })
      - if @product.errors.has_key?(:category)
        %p.text-danger= @product.errors[:category].first
    
      = f.file_field :photo

      = f.submit 'Update Product', class: 'button'
    
  = link_to 'Back', products_path, class: 'back-link'
