= stylesheet_link_tag 'form'
= stylesheet_link_tag 'buttons'

- provide(:title, 'Add a new product')

.container
  %h1.form-header Add A New Product
  - if notice.present?
    .notice.alert.alert-success= notice
  - elsif alert.present?
    .alert.alert-danger= alert
  = form_for @product, url: products_path, method: :post, html: { multipart: true } do |f|
    .form-field
      = f.text_field :title, placeholder: 'Title* '
      - if @product.errors.has_key?(:title)
        %p.text-danger= @product.errors[:title].first
    
      = f.text_area :description, placeholder: 'Description* (minimum 100 characters)'
      - if @product.errors.has_key?(:description)
        %p.text-danger= @product.errors[:description].first

      = f.text_field :price, placeholder: 'Price* '
      - if @product.errors.has_key?(:price)
        %p.text-danger= @product.errors[:price].first
    
      = f.select :vegetarian, options_for_select([['Vegetarian', true], ['Non-Vegetarian', false]]), prompt: 'Choose an option'

      = f.select :category, options_for_select([['Choose a category', nil]] + Product.categories.keys.map { |c| [c.humanize, c] })
      - if @product.errors.has_key?(:category)
        %p.text-danger= @product.errors[:category].first
    
      = f.file_field :photo

      = f.submit 'Add Product', class: 'button'
    
  = link_to 'Back', :back , class: 'back-link '
